product-card {
  position: relative;
  height: 100%;
  display: block;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;  
  .product-card {
    height: 100%;
    position: relative;
    z-index: 2;
    border: 1px solid transparent;
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
    /* background: #fff; */
    &.is--hoverable:hover {
      .card-media {
        .primary_image {
          visibility: hidden;
          opacity: 0;
        }
        .second_image {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .product-card-wrapper {
      height: 100%;
    }
    > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block !important;
    }
  }

  .card-media {
    position: relative;
    background: #fff;
    img {
      display: block;
      width: 100%;
      max-width: 70%;
      margin: auto;
      height: auto;
      aspect-ratio: 1;
      object-fit: cover;
    }

    .primary_image {
      visibility: visible;
      opacity: 1;
      transition: 0.3s all;
    }

    .second_image {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
    }
  }
  .ingredient__wrap {
      display: flex;
      justify-content: start;
      gap: 0;
      align-items: center;
      flex-wrap: wrap;
  }  
  .ingredient, .flavours__wrap {
      font-size: 16px;
      line-height: 200%;
      color: #AF003A;
      @media(max-width: 600px) {
        font-size: 14px;
      }                
      span {
        padding: 0 10px;        
      }
  }
  .card-info {
    padding: 16px 24px 24px;
    background: #FFCD80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    @media(max-width: 600px) {
      padding: 12px 16px 16px;
    }      
    .card-wishlist {
      .ruk_rating_snippet {
        color: #906f53;
        i,
        .ruk-rating-snippet-count {
          font-size: 14px;
          line-height: 18px;
        }
        i:before,
        .ruk-rating-snippet-count {
          color: #906f53 !important;
        }
      }
    }

    h4 {
        font-size: 24px;
        line-height: 140%;
        text-align: left;
        color: #af003a;
        font-family: 'Assistant' !important;
        font-weight: 900;
        text-transform: capitalize;
        margin-block: 8px 4px;
        @media(max-width: 600px) {
          font-size: 20px;
        }          
    }
    .cnp-regular {
       margin: 0;
    }
    .card-price {
      margin: 8px 0;
      gap: 8px;
      display: flex;
      align-items: center;
        font-size: 16px;
        line-height: 155%;
        font-weight: 700;
        color: #AA7248;
        margin: 0 0 8px;
       margin: 0;
     }
     .cnp-compare{
       margin: 0;
       color: var(--Content-Base-main, #1F2937);
      font-family: var(--font-family-Body, "Aktiv Grotesk");
      font-size: var(--Font-Size-Paragraph-Small, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--Line-Height-Paragraph-Small, 20px); /* 142.857% */
     }
    }
  }
  .card__cta {
      padding-top: 20px;
  }
   .card-wishlist {
        padding: 12px;
        cursor: pointer;
        box-shadow: 0 0px 1px #0b04043b;
    }  
  .card-qatc-btn {
    border: none;
    width: 100%;
    padding: 12px 24px;
    padding: 12px;
    background: inherit;
    color: #fff;
    color: #AF003A;
    border: 1px solid #AF003A;
    border-radius: 12px;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-family: Lilita One, cursive !important;

  }
  @media screen and (min-width: 1025px) {
    .product-card:hover .card__cta {
      visibility: visible;
      opacity: 1;
    }
  }
  .sale-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    line-height: 200%;
    padding: 0 8px;
    background: #af003a;
    border-radius: 12px;
  }
  @media(max-width: 768px) { 
    .card__cta {
      /* display: none; */
    }
  }  
}

